<!DOCTYPE html>
<html lang="ja" ng-app="todoApp">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<link rel="stylesheet" href="/todo/bower_components/html5-boilerplate/css/normalize.css">
<link rel="stylesheet" href="/todo/bower_components/html5-boilerplate/css/main.css">
<link rel="stylesheet" href="/todo/bower_components/bootstrap-css/css/bootstrap.min.css">
<link rel="stylesheet" href="/todo/bower_components/bootstrap-css/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/todo/css/todo.css" />
<script src="/todo/bower_components/jquery/jquery.min.js"></script>
<script src="/todo/bower_components/bootstrap-css/js/bootstrap.min.js"></script>
<title>ToDo-Wizard</title>
</head>
<body ng-controller="mainController">
    <div class="container">
        <div class="row">
            <h1>ToDo Wizard</h1>
            <p>{{ todoList.length }} / {{ todoList.length +
                doneList.length }}</p>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div id="todo-list">
                    <div class="checkbox" ng-repeat="todo in todoList">
                        <label> <input type="checkbox"
                            ng-click="completeTodo(todo)"> {{
                            todo.title }}
                        </label>
                    </div>
                </div>

                <div id="todo-form">
                    <form>
                        <div class="form-group">
                            <input type="text" ng-model="formData.title" />
                        </div>
                        <button type="submit" class="btn btn-primary"
                            ng-click="createTodo()">Add</button>
                    </form>
                </div>
            </div>

            <div class="col-md-8">
                <div id="done-list">
                    <h2>Done</h2>
                    <div class="checkbox" ng-repeat="todo in doneList">
                        <label> {{ todo.title }} </label>
                    </div>
                    <button class="btn btn-danger"
                        ng-click="clearDoneList()">Clear</button>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- AngularJS files -->
<script src="/todo/bower_components/angular/angular.js"></script>
<script src="/todo/bower_components/angular-route/angular-route.js"></script>
<script src="/todo/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>

<!--  Project specific js files -->
<script src="/todo/js/todo.js"></script>

</html>